body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: "Playfair Display", serif;
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 900px;
  padding-left: 80px;
}

.word {
  font-size: 110px;
  margin-bottom: 20px;
}

.phonetic {
  font-size: 28px;
  margin-bottom: 30px;
  opacity: 0.9;
}

.definition {
  font-size: 28px;
  line-height: 1.6;
  max-width: 700px;
  opacity: 0.9;
}
